[submodule "home/.vim/bundle/AnsiEsc.vim"]
	path = home/.vim/bundle/AnsiEsc.vim
	url = https://github.com/vim-scripts/AnsiEsc.vim.git
[submodule "home/.vim/bundle/vim-gitgutter"]
	path = home/.vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "home/.vim/bundle/tabline.vim"]
	path = home/.vim/bundle/tabline.vim
	url = git://github.com/mkitt/tabline.vim.git
[submodule "home/.vim/bundle/ale"]
	path = home/.vim/bundle/ale
	url = https://github.com/w0rp/ale.git
